<div class='comment-button-block'>
  <button class="comment-button">
    <span class="material-icons material-icons-outlined">
      {{commentIcon}}
    </span>
  </button>
  <span class='comment-button-number'>{{commentNumber}}</span>
</div>
