.comment {
  &-form {
    padding: 0;
    margin: 0.8rem 0;
  }

  &-textarea {
    margin: 0;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: fit-content;
    overflow: hidden;
    border: none;
    overflow-wrap: break-word;
    background-color: rgba(58, 58, 58, 0.5);
    color: #f3f3f3;

    &:focus {
      outline: none;
    }
  }

  &-button-block {
    margin-top: -0.2rem;
    position: relative;
    background-color: rgba(58, 58, 58, 0.5);
    display: flex;
    justify-content: flex-end;
    border: none;
  }

  &-button-send {
    background-color: transparent;
    border: none;
    color: #f3f3f3;
    cursor: pointer;

    &:hover {
      color: rgb(219, 219, 219);
    }
  }

  &-button-send .material-icons {
    font-size: 1rem;
  }
}