<form class="comment-form">
  <textarea
    class="comment-textarea"
    name="content"
    [(ngModel)]="content"
  ></textarea>
  <div class="comment-button-block">
    <button class="comment-button-send" (click)="handleSendComment()">
      <span class="material-icons material-icons-outlined"> send </span>
    </button>
  </div>
</form>
