<form class="form-column" *ngIf="showForm">
  <input
    class="form-column-input"
    name="columnTitle"
    [(ngModel)]="columnTitle"
    placeholder="Enter Column Title"
  />
  <div class="form-column-button-block">
    <app-cross-button (click)="handleCancel($event)"></app-cross-button>
    <app-confirm-button (click)="handleSubmit($event)"></app-confirm-button>
  </div>
</form>
