.form-column {
  position: relative;
  margin-right: 1rem;
  height: 2.5rem;
  width: 100%;

  &-input {
    padding-right: 3.3rem;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.3rem;
  }

  &-button-block {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}