$bg-color: rgb(116, 184, 196);

.edit-button {
  padding: 0.3rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken($color: $bg-color, $amount: 10%);
  }
}

.material-icons {
  font-size: 1.4rem;
}
