<div class="panel">
  <div class="panel-instruments-block">
    <select class="panel-sort" name="sortRule" (change)="handleSelect($event)">
      <option value="order" selected>Sort by order</option>
      <option value="date">Sort by date</option>
    </select>
    <app-search-input></app-search-input>
  </div>

  <div class='panel-add-block'>
    <app-column-title-form
      [showForm]="showColumnForm"
      (newColumnTitle)="addNewColumn($event)"
      (changedShowForm)="setShowForm()"
    ></app-column-title-form>
    <button class="panel-add-column" (click)="handleAddColumn()">
      Add Column
    </button>
  </div>
</div>
