$light-gray-border: rgb(202, 202, 202);
$transparent-blue: rgb(232, 250, 255);

.panel {
  margin: 0;
  padding: 1rem 2rem;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid $light-gray-border;

  &-sort {
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
  }

  &-instruments-block {
    display: flex;
    align-self: center;
    justify-self: flex-start;
  }

  &-add-block {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &-add-column {
    margin-left: 0.5rem;
    height: 2.5rem;
    width: 7rem;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    border: 1px solid $light-gray-border;
    cursor: pointer;

    &:hover {
      background-color: $transparent-blue;
    }

    &:focus {
      background-color: darken($transparent-blue, 10%);
      outline: none;
    }
  }
}