$bg-color: rgb(116, 184, 196);

.card {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  min-height: 4rem;
  max-height: auto;
  background-color: $bg-color;
  border-radius: 0.2rem;
  font-weight: 400;
  color: #fff;

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    height: auto;
    width: 75%;
    overflow-wrap: break-word;
  }

  &-buttons-block {
    display: flex;
    margin: 0;
  }

  &-interaction-buttons-block {
    display: flex;
  }
}

.hidden {
  display: none;
}
