<ng-container *ngIf="cardService.cardData.length">
  <ng-container
    *ngFor="
      let card of cardService.cardData
        | sort: cardService.sortRule
        | search: cardService.searchRule
    "
  >
    <app-card-form
      [cardContent]="card.content"
      [showForm]="!!(isEditing === card.cardId)"
      (changedShowForm)="setShowForm()"
      (newCardData)="updateCard($event)"
    ></app-card-form>
    <div
      [ngClass]="{ hidden: isEditing === card.cardId }"
      id="{{ card.cardId }}"
      class="card"
      *ngIf="column === card.columnId"
    >
      <div class="card-block">
        <p class="card-text">{{ card.content }}</p>
        <div class="card-buttons-block">
          <app-edit-button (click)="handleEdit(card.cardId)"></app-edit-button>
          <app-delete-button
            [styleClass]="styleClass"
            (click)="handleDelete(card.cardId)"
          ></app-delete-button>
        </div>
      </div>
      <div class="card-interaction-buttons-block">
        <app-like
          [likesNumber]="card.likes"
          (click)="handleAddLike(card.cardId)"
        ></app-like>
        <app-comment-button
          [commentNumber]="card.comments.length"
          [showComments]="!!(showComments === card.cardId)"
          (click)="setShowComments(card.cardId)"
        ></app-comment-button>
      </div>
      <app-comment-form *ngIf="!!(showComments === card.cardId)" [cardId]="card.cardId"></app-comment-form>
      <app-comment
        *ngIf="!!(showComments === card.cardId)"
        [commentsData]="card.comments"
      ></app-comment>
    </div>
  </ng-container>
</ng-container>
