$bg-color: rgb(116, 184, 196);

.delete-button {
  padding: 0.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cardColors {
  color: #fff;

  &:hover {
    background-color: darken($color: $bg-color, $amount: 10%)
  }
}

.defaultColors {
  opacity: 0;
  color: rgb(170, 170, 170);

  &:hover {
    background-color: transparent;
    color: rgb(146, 146, 146);
  }
}

.commentStyle {
  padding: 0;
  color: rgb(235, 235, 235);
  
  &:hover {
    color: #fff;
  }
}

.commentStyle .material-icons {
  font-size: 1.3rem
}
