<ng-container *ngIf="commentsData.length">
  <div
    class="comment-block"
    *ngFor="let comment of commentsData.reverse()"
    id="{{ comment.id }}"
  >
    <div class="comment-content-block">
      <p class="comment-content">{{ comment.content }}</p>
      <app-delete-button 
        [styleClass]="'commentStyle'"
        (click)="handleDeleteComment(comment.id, comment.cardId)"
      ></app-delete-button>
    </div>
    <p class="comment-date">{{ comment.date | dateToTimeAgo }}</p>
  </div>
</ng-container>
