$gray: rgb(109, 109, 109);

.comment {
  &-block {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: inherit;
    border-bottom: 1px solid $gray;
  }

  &-date {
    margin: 0;
    font-size: 0.7rem;
    color: lighten($gray, 50%);
  }

  &-content {
    margin: 0;
    padding: 0 0.5rem;

    &-block {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}