<div class="column-container">
  <ng-container *ngIf="cardService.columnData.length">
    <div
      class="column"
      *ngFor="let column of cardService.columnData"
      id="{{ column.id }}"
    >
      <div class="column-header">
        <app-column-title-form
        [showForm]="!!showEditForm"
        [title]="column.columnTitle"
        (changedShowForm)="setEditForm($event)"
        (newColumnTitle)="editColumnTitle($event)"
        *ngIf="!!(showEditForm === column.id)"
      ></app-column-title-form>
        <ng-container *ngIf="!!(showEditForm !== column.id)">
          <h2 class="column-header-title" (click)="toggleEditForm(column.id)">
            {{ column.columnTitle }}
          </h2>
          <app-delete-button
            [styleClass]="styleClass"
            (click)="handleDeleteColumn(column.id)"
          ></app-delete-button>
        </ng-container>
      </div>
      <div class="column-button-container">
        <button class="column-button-add" (click)="handleAddForm(column.id)">
          +
        </button>
      </div>
      <app-card-form
        [showForm]="!!showAddForm"
        [column]="column.id"
        *ngIf="showAddForm === column.id"
        (changedShowForm)="setShowForm($event)"
        (newCardData)="addNewCard($event)"
      ></app-card-form>
      <app-card [column]="column.id"></app-card>
    </div>
  </ng-container>
</div>
