$dark-gray: rgb(90, 90, 90);
$light-gray: rgb(224, 224, 224);
$bg-gray: rgba(235, 238, 243, 0.8);

.column {
  width: 100%;
  height: fit-content;

  &-container {
    margin: 0;
    min-width: 90vw;
    display: grid;
    grid-auto-rows: 1fr;
    grid-auto-columns: minmax(18rem, 1fr);
    grid-auto-flow: column;
    background-color: $bg-gray;
  }

  &-header {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    &:hover {
      background-color: darken($bg-gray, 5%);
    }

    &-title {
      width: 100%;
      font-weight: 600;
      font-size: 1.3rem;
      color: darken($dark-gray, 20%);
      cursor: text;
    }
  }

  &-button-container {
    margin: 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-button-add {
    width: 100%;
    height: 100%;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark-gray;
    background-color: $light-gray;
    cursor: pointer;

    &:hover {
      background-color: darken($color: $light-gray, $amount: 10%);
    }
  }
}
