<form class="form" *ngIf="showForm">
  <textarea
    class="form-textarea"
    name="content"
    [(ngModel)]="content"
  ></textarea>
  <div class="form-button-block">
    <app-cross-button (click)="handleCloseForm($event)"></app-cross-button>
    <app-confirm-button (click)="handleSubmit($event)"></app-confirm-button>
  </div>
</form>
