$bg-color: rgb(116, 184, 196);

.form {
  margin: 0.5rem;
  border: 0.2rem solid $bg-color;
  background-color: transparent;
  background-color: #fff;
  cursor: pointer;

  &-textarea {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    height: fit-content;
    overflow: hidden;
    border: none;
    border-radius: 0.2rem;
    overflow-wrap: break-word;

    &:focus {
      outline: none;
    }
  }

  &-button-block {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    height: 1.5rem;
  }
}
