.header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff; 
}

.dashboard {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;

  &-title {
    margin: 0;
    padding: 1.2rem 2rem;
  }
}
