/* You can add global styles to this file, and also import other style files */
$bg-gray: rgba(235, 238, 243, 0.8);

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: $bg-gray
}

* {
  box-sizing: border-box;
}

.column-header:hover .delete-button {
  opacity: 1;
}