.like {
  &-block {
    display: flex;
    align-content: center;
    height: 1.5rem;
  }

  &-button {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
    &:focus {
      opacity: 0.8;
      outline: transparent;
    }
  }

  &-number {
    margin-left: 0.1rem;
  }
}

.material-icons {
  font-size: 1.3rem;
}
