<div class='like-block'>
<button class='like-button'>
  <span class="material-icons material-icons-outlined"> favorite_border </span>
</button>
<span class='like-number'>{{likesNumber}}</span>
</div>
