$bg-color: rgb(116, 184, 196);

.button {
  margin-right: 0.5rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    color: darken($color: $bg-color, $amount: 10%);
  }
}

.material-icons {
  font-size: 1rem;
  font-weight: bold;
}